.cstm-menu-link{
    color: #9d9da6;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    flex: 0 0 100%;
    padding: 0.65rem 1rem;
    transition: none;
    outline: 0!important;
}

.cstm-menu-icon {
    color: #c5c5d8;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    margin-right: 0.5rem;
}

.cstm-f-12-normal {
    font-size: 12px;
    font-weight: normal;
}

img {
    max-width: 100%;
}

/* custom css styles */

.symbol.symbol-circle, .symbol.symbol-circle .symbol-label, .symbol.symbol-circle>img {
    border-radius: 50%;
  }
  .symbol {
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    border-radius: 0.475rem;
  }
  
  .symbol>img {
    width: 50px;
    height: 50px;
  }
  
  .symbol.symbol-100px>img {
    width: 100px;
    height: 100px;
  }
  
  .symbol.symbol-circle, .symbol.symbol-circle .symbol-label, .symbol.symbol-circle>img {
    border-radius: 50%;
  }
  
  .separator.separator-dashed {
    border-bottom-style: dashed;
    border-bottom-color: #e1e3ea;
  }
  
  .separator {
    display: block;
    height: 0;
    border-bottom: 1px solid #f4f4f4;
  }
  .my-15 {
    margin-top: 15px!important;
    margin-bottom: 15px!important;
  }
  
  .mb-0 {
    margin-bottom: 0px!important;
  }
  
  .mb-4 {
    margin-bottom: 4px!important;
  }
  
  .mb-3 {
    margin-bottom: 3px!important;
  }
  
  .mb-6 {
    margin-bottom: 6px!important;
  }
  
  .mb-12 {
    margin-bottom: 12px!important;
  }
  
  
  .flex-start {
    justify-content: start;
    align-items: start;
  }
  
  .flex-center {
    justify-content: center;
    align-items: center;
  }
  
  .fw-sb {
    font-weight: 500 !important;
  }
  
  .fw-normal {
    font-weight: normal !important;
  }
  
  .fs-10 {
    font-size: 10px!important;
  }
  
  .fs-12 {
    font-size: 12px!important;
  }

  .fs-14 {
    font-size: 14px!important;
  }
  
  .fc-dark {
    color: #181c32 !important;
  }
  
  .fc-light {
    color: #b5b5c3 !important;
  }

  .fc-error {
    color: #dc3545 !important;
  }
  
  .tabs-container {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  
  .pa-5 {
    padding: 5px!important;
  }
  
  .pt-20 {
    padding-top: 20px!important;
  }
  
  .profile-action-btn {
    border-radius: 2px;
    color: #007bff;
    background-color: #f3f6f9;
    cursor: pointer;
    padding: 8px 6px;
    margin: 2px;
    font-size: 10px;
    line-height: 10px;
  }

  .profile-action-btn:hover {
    border-radius: 2px;
    color: #ffffff;
    background-color: #007bff;
    cursor: pointer;
    padding: 8px 6px;
    margin: 2px;
    font-size: 10px;
    line-height: 10px;
    border: none;
  }
  
  .form-action-btn {
    border-radius: 2px;
    color: #007bff;
    background-color: #e6e7e8;
    cursor: pointer;
    padding: 8px 8px;
    margin: 2px;
    font-size: 10px;
    line-height: 14px;
    border: none;
  }

  .form-action-btn:hover {
    border-radius: 2px;
    color: #ffffff;
    background-color: #007bff;
    cursor: pointer;
    padding: 8px 8px;
    margin: 2px;
    font-size: 10px;
    line-height: 14px;
    border: none;
  }
  
  
  /* media gallery */
  
  
  
  .custom-control.image-checkbox {
    position: relative;
    padding-left: 0;
    padding: 8px;
    background: #FFFFFF;
    margin-bottom: 8px;
  }
  
  .custom-control.image-checkbox .custom-control-input:checked ~ .custom-control-label:after, .custom-control.image-checkbox .custom-control-input:checked ~ .custom-control-label:before {
    opacity: 1;
  }
  
  .custom-control.image-checkbox label {
    cursor: pointer;
    margin-bottom: 0px;
    max-width: 100%;
    min-width: 100%;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
    width: 100%;
}
  
  .custom-control.image-checkbox label:before {
    border-color: #007bff;
    background-color: #007bff;
  }
  
  .custom-control.image-checkbox label:after, .custom-control.image-checkbox label:before {
    transition: opacity .3s ease;
    opacity: 0;
    left: .25rem;
  }
  
  .custom-control.image-checkbox label:focus, .custom-control.image-checkbox label:hover {
    opacity: .8;
  }
  
  .custom-control.image-checkbox label img {
    border-radius: 2.5px;
  }
  
  .form-group-image-checkbox.is-invalid label {
    color: #dc3545;
  }
  
  .form-group-image-checkbox.is-invalid .invalid-feedback {
    display: block;
  }
  
  .custom-control>input[type=checkbox] {
    margin: 3px 4px 3px 3px;
    line-height: normal;
    position: absolute;
  }
  
  .media-g-txt-container {
    padding: 0;
    margin-top: 4px;
    background: #FFFFFF;
  }
  
  .page-option-wrapper {
    background: #FFFFFF;
  }
  
  .mt-12 {
    margin-top: 12px!important;
  }
  
  .cbox-pos-r {
    position: relative;
    top: 2px;
  }

  .custom-container-fluid {
    padding: 15px 40px;
    padding-left: 40px!important;
    padding-right: 40px!important;
  }

  .ap-inp-field {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0px;
    margin-bottom: 6px;
    margin-top: 6px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .ap-inp-field:focus {
    border: 1px solid #007bff;
  }

  .form-select {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0px;
    margin-bottom: 6px;
    margin-top: 6px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.select2-container--bootstrap5 .select2-dropdown .select2-search .select2-search__field {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0px;
    margin-bottom: 6px;
    margin-top: 6px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.select2-container--bootstrap5.select2-container--focus:not(.select2-container--disabled) 
.form-select:not(.form-select-solid):not(.form-select-transparent), 
.select2-container--bootstrap5.select2-container--open:not(.select2-container--disabled) 
.form-select:not(.form-select-solid):not(.form-select-transparent):hover {
  border: 1px solid #007bff;
}

.select2-container--bootstrap5 .select2-dropdown {
  border: 1px solid #dddddd;
  box-shadow: var(--bs-dropdown-box-shadow);
  border-radius: 0.475rem;
  padding: 1rem 0;
  background-color: var(--bs-dropdown-bg);
}

  .img-thumb-preview {
    border: 1px solid #eae0e0;
  }
  .img-thumb-preview:hover {
    border: 1px solid #007bff;
  }

  .px8-py16 {
    padding: 16px 8px;
  }

  .pos-rel-top-2{
    top: 2px;
    position: relative;
  }

  .required-field:after {
    content: "*";
    position: relative;
    font-size: inherit;
    color: var(--bs-danger);
    padding-left: 0.25rem;
    font-weight: 600;
}

.bg-table-header {
  background: #f0f8ff;
}

.table>:not(caption)>*>* {
  padding: 6px 6px;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.symbol.symbol-25px .symbol-label {
  width: 25px;
  height: 25px;
}

.table:not(.table-bordered) td:first-child, .table:not(.table-bordered) th:first-child, .table:not(.table-bordered) tr:first-child {
  padding-left: 12px;
}

.form-check-custom {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin: 0;
  margin-bottom: 0px;
}

.form-opt-container {
  margin-top: 20px!important;
}

.top-gap-15 {
  height: 15px;
}

.mb-12 {
  margin-bottom: 12px!important;
}

.no-box-shadow {
  box-shadow: none!important;
}

.pt-0 {
  padding: 0px!important;
}

.card .card-topbar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  min-height: 0px;
  padding: 0 2.25rem;
  color: var(--bs-card-cap-color);
  background-color: var(--bs-card-cap-bg);
  border-bottom: 1px solid var(--bs-card-border-color);
}

.my-5 {
  margin-top: 5px!important;
  margin-bottom: 5px!important;
}

.btn-link {
  --bs-btn-font-weight: 400;
  --bs-btn-color: var(--bs-link-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: var(--bs-link-hover-color);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-color: var(--bs-link-hover-color);
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-color: var(--bs-gray-600);
  --bs-btn-disabled-border-color: transparent;
  --bs-btn-box-shadow: none;
  --bs-btn-focus-shadow-rgb: 0,134,210;
  text-decoration: none;
  cursor: pointer;
}

.modal-subtitle {
  margin-bottom: 0px!important;
  margin-top: 2px!important;
}

.modal-media-container {
  margin-bottom: 16px;
}

#enrollmentpreview_DT thead {
  display: none;
}

#enrollmentadd_DT thead {
  display: none;
}

#connectionpreview_DT thead {
  display: none;
}

#connectionadd_DT thead {
  display: none;
}


#chatadd_DT thead {
  display: none;
}

.table-search-bar {
  margin-bottom: 12px;
  width: 100%;
}

.profile-widget-body {
  margin-top: 10px;
}

.pa-10 {
  padding: 10px!important;
}

.chat-list-body {
  padding: 5px!important;
  padding-left: 8px!important;
}

.chat_list_item {
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.chat_list_item:first {
  margin-top: 8px;
}

.chat_list_item:hover {
  background: #f1faff;
}

.chat-active {
  background: #f8f5ff;
}

.p-t-6 {
  padding-top: 6px!important;
}

#paypal-button-container {
  max-width: 100%;
  width: 100%;
}

.paypal-button-tagline {
  max-width: 100%;
  font-size: 12px;
  font-weight: normal;
  display: block;
  text-align: center;
  width: auto;
  margin-top: 4px;
}


hr.dashed {
  border-top: 2px dashed #f4f4f4;
  margin: 0.4rem 0;
}

.fs-18 {
  font-size: 18px!important;
}

.mx-height-228 {
  max-height: 228px;
}

.mx-height-470 {
  max-height: 470px;
}